<template>
  <b-form-group
    :id="'input-group-' + inputIdentifier"
    :label="label"
    :label-for="'input-' + inputIdentifier"
  >
    <template v-if="type === 'radio'">
      <b-form-radio-group
        :id="'input-' + inputIdentifier"
        v-model="localValue"
        :options="options"
        :name="inputIdentifier"
        :required="!!required"
        :disabled="!!disabled"
      />
    </template>
    <template v-else-if="type === 'select'">
      <b-form-select
        :id="'input-' + inputIdentifier"
        v-model="localValue"
        :options="options"
        :name="inputIdentifier"
        :required="!!required"
        :disabled="!!disabled"
      />
    </template>
    <template v-else-if="type === 'switch'">
      <div>
        <b-form-checkbox
          :id="'input-' + inputIdentifier"
          v-model="localValue"
          :name="inputIdentifier"
          :required="!!required"
          :disabled="!!disabled"
          :unchecked-value="false"
          switch
        >
          {{ text }}
        </b-form-checkbox>
        <b-form-text
          v-if="subtext"
          class="text-dark"
        >
          {{ subtext }}
        </b-form-text>
      </div>
    </template>
    <template v-else>
      <b-form-input
        :id="'input-' + inputIdentifier"
        v-model="localValue"
        :type="type ? type : 'text'"
        :class="[
          {'uppercase': uppercase,
           'lowercase': lowercase}
        ]"
        :name="inputIdentifier"
        :placeholder="placeholder ? placeholder : 'Renseignez ' + label.toLowerCase()"
        :required="!!required"
        :disabled="!!disabled"
        :pattern="pattern"
        @blur="$emit('blur')"
      />
    </template>
    <b-badge
      v-if="userHaveEdit"
      v-b-tooltip.hover.bottom="'Valeur saisie par le locataire'"
      variant="primary"
      class="me-1"
    >
      {{ getDataForDisplayFromType(remoteValue ?? defaultValue) ?? 'N\'était pas renseigné' }}
    </b-badge>
    <b-badge
      v-if="locataireHaveEdit"
      v-b-tooltip.hover.bottom="'Valeur d\'origine'"
      variant="danger"
      class="me-1"
    >
      {{ getDataForDisplayFromType(defaultValue) ?? 'N\'était pas renseigné' }}
    </b-badge>
    <b-badge
      v-if="isDeverse"
      v-b-tooltip.hover.bottom="'Déversement auto'"
      variant="success"
      class="me-1"
    >
      Déversé
    </b-badge>
    <slot name="additionalMsg" />
  </b-form-group>
</template>

<script>
import moment from "moment-timezone";

export default {
  name: "InputDiffDisplay",
  props: [
    "inputIdentifier",
    "defaultValue",
    "remoteValue",
    "modelValue",
    "required",
    "disabled",
    "type",
    "options",
    "label",
    "placeholder",
    "text",
    "subtext",
    "stringyfier",
    "pattern",
    "uppercase",
    "lowercase"
  ],

  emits: ['update:modelValue'],
  computed: {
    localValue: {
      get() {
        let value = this?.modelValue ?? (this?.remoteValue ?? this?.defaultValue)
        return this.getDataForInputFromType(value)
      },

      set(value) {
        if (this.uppercase)
          value = value?.toUpperCase()

        if (this.lowercase)
          value = value?.toLowerCase()

        this.$emit('update:modelValue', this.setDataFromType(value))
      }
    },

    userHaveEdit() {
      // if (this.modelValue === undefined)
      //   return false
      //
      // else if (this.remoteValue !== undefined)
      //   return (this.modelValue !== this.remoteValue)
      //       && this.remoteValue !== null
      //       && !(this.remoteValue === 0 && this.modelValue === false)
      //
      // else if (this.defaultValue === null)
      //   return this.modelValue && this.modelValue !== false
      //
      //
      // return (this.modelValue !== this.defaultValue)
      //     && this.defaultValue !== null
      //     && this.modelValue !== ''

      let correction = this.modelValue
      let modification = this.remoteValue
      let init = this.defaultValue

      if (correction === undefined)
        return false

      if (modification !== undefined && modification !== null) {
        //experiementation
        if ((!modification && !correction))
          return false
        return correction !== modification
      }

      if (init !== undefined && init !== null) {
        //experiementation
        if ((!init && !correction))
          return false
        return correction !== init
      }

      return !!correction
    },

    isDeverse() {
      let modification = this.remoteValue
      let init = this.defaultValue

      return modification !== undefined && modification === init
    },

    locataireHaveEdit() {
      // return (this.remoteValue !== this.defaultValue) && this.defaultValue !== null && this.remoteValue !== undefined

      let modification = this.remoteValue
      let init = this.defaultValue

      if (modification === undefined || init === undefined) {
        return false
      }

      if (!modification && !init)
        return false

      return modification !== init
    },
  },

  methods: {
    getDataForInputFromType(value) {
      if (this.type === 'date') {
        return value ? moment.unix(value).format('YYYY-MM-DD') : null
      }

      return value
    },

    getDataForDisplayFromType(value) {
      if (this.type === 'date') {
        return value ? moment.unix(value).format('DD/MM/YYYY') : null
      } else if (this.type === 'radio') {
        return this.options.find((option) => option.value === value)?.text
      } else if (this.type === 'switch') {
        return value ? 'Etait coché' : 'N\'était pas choché'
      }

      if (this.stringyfier)
        return this.stringyfier(value)

      return value
    },

    setDataFromType(value) {
      if (this.type === 'date') {
        return value ? moment(value, 'YYYY-MM-DD').unix() : null
      }

      return value
    }
  }
}
</script>

<style>
input.uppercase {
  text-transform: uppercase;
}

input.lowercase {
  text-transform: lowercase;
}

::-webkit-input-placeholder { /* WebKit browsers */
  text-transform: none;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  text-transform: none;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  text-transform: none;
}

::placeholder { /* Recent browsers */
  text-transform: none;
}
</style>
